$primary-color: #6C63FF; 
$light-gray: #F7F7F7;
$black: #212529;
$dark-gray: #6C757D;

body{
    overflow: hidden;
    font-weight: 300;
    color: $black;
}



.bg.primary { 
    background-color: $primary-color important;
}

#sidebar-container {
    min-height: 100vh;
    .logo {
      padding: 0.875rem 3.25rem;
    } 
    .menu {
        width: 18rem;
        a{
          font-size: 17px;
          text-decoration: none;
      }
    }
}

.navbar{
  border-bottom: 1px solid #ccc;
}
.btn-search {
  margin-left: 165px;
}